---
layout: archive
title: "Papers"
permalink: /papers/
redirect_from:
  - /publications/
author_profile: true
---

<div class="paper-intro">
  <p>
    This page collects my research papers and preprints. I will keep expanding it with abstracts, code links, slides, and BibTeX entries.
  </p>
  {% if site.author.googlescholar %}
    <a class="paper-scholar" href="{{ site.author.googlescholar }}">Google Scholar</a>
  {% endif %}
</div>

{% assign papers = site.publications | sort: "date" | reverse %}

{% assign section_title = "Preprints" %}
{% assign section_categories = "preprint,preprints" | split: "," %}
{% include paper-section.html %}

{% assign section_title = "Conference Papers" %}
{% assign section_categories = "conference,conferences" | split: "," %}
{% include paper-section.html %}

{% assign section_title = "Journal Articles" %}
{% assign section_categories = "journal,journals,manuscript,manuscripts" | split: "," %}
{% include paper-section.html %}
